@charset "utf-8";
/* CSS Document 
This is for gerneral frameworks.
*/

body *{
	padding:0px;
	margin:0px;
	list-style:none;
	border:0;
	display:block;

}
#mainFrame{
	width:1000px;

}
#headerBox{
	width:100%;
	background:#6F3;
	
}
#leftBox{
	width:250px;
	float:left;
	background:#F00;
	}
#rightBox{
	width:750px;
	float:left;
	background:#00C;
}
#firstLayer{
	height:100px;
	width:100%;

}
#secondLayer{
	height:50px;
	width:100%;
}
#bottomBox{
	height:100px;
	width:1000px;;
	background:#999;
	float:left;
}
#middleBox{
	min-height:500px;

}
#logoBox{
	width:250px;
	height:100%;
	background:#066;
	float:left;
}
#userInfoBox{
	width:750px;
	height:70px;
	float:left;
	background:#C93;
}
#horizonalMenuBox{
	width:750px;
	height:30px;
	float:left;
	
}
#categoryButtonBox{
	width:250px;
	height:100%;
	float:left;
	background:#909;
}
#searchFieldBox{
	width:750px;
	height:100%;
	float:left;
	background:#FC0;
}
